pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-huggingface
sentence-transformers
faiss_cpu
langchain_google_genai
langchain-pinecone
defusedxml
ipywidgets
langsmith
wikipedia
youtube_search
langgraph
ipython
chromadb
ddgs
yfinance
langchain-experimental
autogen-agentchat
autogen-core
autogen-ext[http-tool,openai]
docker